<!DOCTYPE html>
<html lang="en">
{{>head_section}}
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by James Howard. It uses data from mapbox.com and weatherstack.com</p>
    <img class="about-image" src="{{image}}">
</div>
{{>footer}}
</body>
</html>